@font-face {
  font-family: 'humming';
  src: url('../../Font/FOT-HummingStd-B.otf');
}

body {
  font-family: 'humming', Arial, Helvetica, sans-serif;
  font-size: 21px;
  background: #efe9d9;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 1em;

}

.progress {
  margin: 1em auto;
  width: 500px;
  display: none;
}

.progressbar {
  position: relative;
  width: 492px;
  border: 1px solid black;
  padding: 3px;
  margin: 2px 0px;
}

.progresstext {
  position: absolute;
  width: 492px;
  margin: 3px 0px;
  text-align: center;
  font-size: 0.7em;
}

.progressfill {
  height: 20px;
  background-color: lightgreen;
  width: 0%;
}

.sorter {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr minmax(max-content, 1fr) 1fr;
  grid-gap: 5px;
  width: fit-content;
  padding: 15px;
  background: rgb(233,230,221);
background: linear-gradient(180deg, rgba(233,230,221,1) 0%, rgba(239,235,214,1) 10%, rgba(239,235,214,1) 90%, rgba(219,208,176,1) 97%, rgba(178,161,124,1) 99%);
  border: 2px solid black;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 3px 4px
}

.button {
  border: 1px solid black;
  text-align: center;
  padding: 10%;
  grid-column: 2 / 3;
  cursor: pointer;
  background-color: #EFE9D9;
}

.button:before {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);
}

.starting.start.button {
  grid-row: span 6;
  position: relative;
   background:
  radial-gradient(ellipse 100% 50% at top, rgba(255, 255, 255, 1) 50%, rgba(255,196,94,255) 100%),
  linear-gradient(rgba(255,219,150,255) 0%, rgba(250,193,90,255) 30%, rgba(250,193,90,255) 60%, rgba(250,193,90,255) 70%, rgba(229,157,42,255) 100%);
  text-shadow: 0.75pt 1pt white;
  border: 0;
  border-radius: 25px;
}

.starting.start.button:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 25px;
  background:
    linear-gradient(rgba(255,247,211,1) 0%, rgba(252, 194, 88, 1) 70%, rgba(221, 145, 39, 1) 100%);
  z-index: -1;
}


.starting.load.button {
  grid-row: span 3;
  position: relative;
  display: none;
  margin-top: 15px;
  background:
    radial-gradient(ellipse 100% 50% at top, rgba(255, 255, 255, 1) 50%, rgba(81, 76, 73, 0) 100%),
    linear-gradient(rgba(248, 247, 238, 1) 0%, rgba(209, 203, 184, 1) 30%, rgba(209, 203, 184, 1) 60%, rgba(209, 203, 184, 1) 70%, rgba(230, 220, 189, 1) 100%);
  text-shadow: 0.75pt 1pt white;
  border: 0;
  border-radius: 25px;
}

.starting.load.button:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 25px;
  background:
    linear-gradient(rgba(248, 247, 238, 1) 0%, rgba(211, 206, 187, 1) 70%, rgba(156, 152, 140, 1) 100%);
  z-index: -1;
}

.sorting.button,
.sorting.button.tie,
.finished.button {
  grid-row: span 2;
  display: none;
}

.loading.button {
  grid-row: span 6;
  display: none;
  position: relative;
   background: rgb(233,230,221);
background: linear-gradient(180deg, rgba(233,230,221,1) 0%, rgba(239,235,214,1) 10%, rgba(239,235,214,1) 90%, rgba(219,208,176,1) 97%, rgba(178,161,124,1) 99%);
  text-shadow: 0.75pt 1pt white;
  border: 3px solid black;
  border-radius: 25px;
  border: 0px;
  margin: 15px;
  box-shadow: 0px 3px 4px
}

.loading.button>div {
  width: 25px;
  height: 25px;
  margin: 50px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* Animation taken from: http://tobiasahlin.com/spinkit/ */

.loading.button>span {
  margin: auto auto 20%;
  font-size: 0.7em;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }

  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.sorter>.image {
  width: 256px;
  height: 256px;
  margin: auto;
  grid-row: 1 / 7;
  cursor: pointer;
}

.sorter>.text {
  width: 256px;
  height: 60px;
  display: none;
}

.sorter>.text>p {
  margin: 0.5em 5px 0px;
  width: calc(100%-10px);
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
}

.sorter>.tie,
.undo,
.save,
.finished>.save,
.getimg,
.list {
  position: relative;
  display: inline-block;
  border: 0px;
  border-radius: 25px;
  margin-top: 15px;
  background:
    radial-gradient(ellipse 100% 50% at top, rgba(255, 255, 255, 1) 50%, rgba(81, 76, 73, 0) 100%),
    linear-gradient(rgba(248, 247, 238, 1) 0%, rgba(209, 203, 184, 1) 30%, rgba(209, 203, 184, 1) 60%, rgba(209, 203, 184, 1) 70%, rgba(230, 220, 189, 1) 100%);
  text-shadow: 0.75pt 1pt white;
}

.sorter>.tie:before,
.undo:before,
.save:before,
.finished>.save:before,
.getimg:before,
.list:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 25px;
  background:
    linear-gradient(rgba(248, 247, 238, 1) 0%, rgba(211, 206, 187, 1) 70%, rgba(156, 152, 140, 1) 100%);
  z-index: -1;
}

.sorter>.left {
  grid-column: 1 / 2;
}

.sorter>.right {
  grid-column: 3 / 4;
}

.options {
  margin: 1em auto;
  display: grid;
  text-align: left;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 450px;
}

.options>div {
  font-size: 0.5625em;
}

label {
  cursor: pointer;
}

label:hover {
  color: #990000;
}

.options>.large.option,
.options>hr {
  grid-column: span 3;
  text-align: center;
  width: 100%;
}

.image.selector {
  margin-top: 0.5em;
  width: 500px;
  display: none;
  text-align: center;
  font-size: 0.75em;
}

.time.taken {
  margin-top: 0.5em;
  width: 500px;
  display: none;
  text-align: center;
  font-size: 0.75em;
}

.results {
  font-size: 0.75em;
  display: flex;
  align-content: flex-start;
  width: 80%;
  margin: 2em auto;
}

@media all and (min-width: 600px) {
  .results {
    flex-flow: column wrap;
    max-height: calc(5 * (175px + 2px) + 1 * (15px + 2px));
    /* 2px for borders */
  }
}

@media all and (max-width: 600px) {
  .results {
    flex-flow: column nowrap;
  }
}

.result {
  height: 2em;
  margin-bottom: -1px;
  display: grid;
  width: 211px;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #000;
  margin-right: 5px;
}

.result.image {
  height: 175px;
}

.result.image img {
  height: 160px;
}

.result.spacer {
  height: 1px;
  background-color: #000;
}

.result.head {
  background-color: #000;
  color: #FFF;
}

.result>.left {
  width: 35px;
  padding: 1px 3px 1px 0.5em;
  grid-column: 1 / 2;
  text-align: right;
}

.result.image .left {
  position: relative;
}

.result.image>.left span {
  position: absolute;
  top: 50%;
  right: 3px;
  margin-top: -0.375em;
}

.result>.right {
  width: 160px;
  padding: 1px 0em 1px 0em;
  grid-column: 2 / 3;
  border-left: 1px solid #000;
  text-align: center;
}

.info {
  margin: 2em auto 3em;
  display: block;
  text-align: center;
  font-size: 0.6875em;
  width: 80%;
  line-height: 1.2em;
}

a {
  color: #990000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #FF6600;
}

a:visited {
  color: #6600FF;
}
